{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AddScan{% endblock %}

{% block page_content %}

<video id="player" controls autoplay></video>
<button id="capture">Capture</button>
<canvas id="canvas" width=320 height=240></canvas>
<form method="post" action="{{url_for('imgprocess')}}" name="imgform">
	<input id="inp_img" name="img" type="hidden" value="">
	<input id="bt_upload" type="submit" value="Upload">
</form>

<script>
	const player = document.getElementById('player');
	const canvas = document.getElementById('canvas');
	const context = canvas.getContext('2d');
	const captureButton = document.getElementById('capture');
	const constraints = {
		video: true,
	};
	captureButton.addEventListener('click', () => {
		// Draw the video frame to the canvas.
		context.drawImage(player, 0, 0, canvas.width, canvas.height);
		player.scrObject.getVideoTracks().forEach(track => track.stop());
	});
	
	// Attach the video stream to the video element and autoplay.
	navigator.mediaDevices.getUserMedia(constraints)
		.then((stream) => {
			player.srcObject = stream;
		});
</script>

<script>
function prepareImg() {
	var canvas = document.getElementById('canv');
	document.getElementById('inp_img').value = canvas.toDataURL();
}

</script>

{% endblock %}

